# ETL project

In [1]:
#importing packages
import pandas as pd
import requests as r
import matplotlib.pyplot as plt
import mysql.connector

## Extract Phase
Extracting data from two different sources:
1. Two CSV files.
    * https://www.kaggle.com/datasets/tadewosbellete/product-data-csv?resource=download
    * https://www.kaggle.com/datasets/shrutimechlearn/customer-data?utm_source=chatgpt.com
2. Mock API.
    * https://mockaroo.com/myaccount

In [5]:
# Extract CSV data
customers = pd.read_csv("Mall_Customers.csv")
products_men = pd.read_csv("Nordstrom_Men_Apparel_Jacket.csv")
products_women = pd.read_csv("Nordtstorm_Women_Apparel_Jacket.csv")

In [6]:
#data profiling
customers.head()

   CustomerID   Genre  Age  Annual_Income_(k$)  Spending_Score
0           1    Male   19                  15              39
1           2    Male   21                  15              81
2           3  Female   20                  16               6
3           4  Female   23                  16              77
4           5  Female   31                  17              40

In [7]:
products_men.head()

,url,canonicalUrl,probability,name,offers/0/price,offers/0/currency,offers/0/availability,offers/0/regularPrice,sku,brand,...,additionalProperty/1/value,additionalProperty/2/name,additionalProperty/2/value,mpn,additionalProperty/3/name,additionalProperty/3/value,additionalProperty/4/name,additionalProperty/4/value,additionalProperty/5/name,additionalProperty/5/value
0,https://www.nordstrom.com/s/the-north-face-can...,https://www.nordstrom.com/s/the-north-face-can...,0.996554,Canyonlands Full Zip Jacket,59.2,$,InStock,79.0,6990075,THE NORTH FACE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,https://www.nordstrom.com/s/nordstrom-trim-fit...,https://www.nordstrom.com/s/nordstrom-trim-fit...,0.995762,Trim Fit Tech Stretch Travel Sport Coat,149.4,$,InStock,249.0,6204911,NORDSTROM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,https://www.nordstrom.com/s/rodd-and-gunn-rodd...,https://www.nordstrom.com/s/rodd-and-gunn-rodd...,0.991802,Jack Jacket,348.0,$,InStock,300.0,5226671,RODD & GUNN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,https://www.nordstrom.com/s/the-north-face-men...,https://www.nordstrom.com/s/the-north-face-men...,0.987940,Men's Nuptse Â® 1996 Packable Quilted Down Jacket,320.0,$,InStock,320.0,6190297,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,https://www.nordstrom.com/s/ralph-slim-fit-woo...,https://www.nordstrom.com/s/ralph-slim-fit-woo...,0.976779,Ralph Slim Fit Wool Sport Coat,388.8,$,InStock,648.0,7120822,TED BAKER LONDON,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
products_women.head()

,url,canonicalUrl,probability,name,offers/0/price,offers/0/currency,offers/0/availability,sku,brand,mainImage,...,additionalProperty/1/value,additionalProperty/2/name,additionalProperty/2/value,additionalProperty/3/name,additionalProperty/3/value,size,images/7,images/8,images/9,breadcrumbs/0/name
0,https://www.nordstrom.com/s/womens-knit-blazer...,https://www.nordstrom.com/s/womens-knit-blazer...,0.983466,Women's Knit Blazer,84.0,$,InStock,7236729,TOPSHOP,https://n.nordstrommedia.com/id/sr3/968164a6-4...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,https://www.nordstrom.com/s/1state-1-state-str...,https://www.nordstrom.com/s/1state-1-state-str...,0.994422,Stretch Crepe One-Button Blazer,83.4,$,InStock,6055138,1.STATE,https://n.nordstrommedia.com/id/sr3/9a18d997-a...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,https://www.nordstrom.com/s/patch-pocket-plaid...,https://www.nordstrom.com/s/patch-pocket-plaid...,0.991594,Patch Pocket Plaid Blazer,99.0,$,InStock,7034381,TREASURE & BOND,https://n.nordstrommedia.com/id/sr3/fd07d7b3-4...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,https://www.nordstrom.com/s/plaid-flannel-shac...,https://www.nordstrom.com/s/plaid-flannel-shac...,0.983601,Plaid Flannel Shacket,49.0,$,InStock,7041490,THREAD & SUPPLY,https://n.nordstrommedia.com/id/sr3/4a939e56-b...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,https://www.nordstrom.com/s/thread-supply-crop...,https://www.nordstrom.com/s/thread-supply-crop...,0.993778,Crop Fleece Shirt Jacket,49.0,$,InStock,7041491,THREAD & SUPPLY,https://n.nordstrommedia.com/id/sr3/96f81d06-5...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
# Extract API data
url = ""  #fetch json data from Mock API using your link
response = r.get(url)

In [21]:
sales = pd.DataFrame(response.json())

In [22]:
sales.head()

   transaction_id  customer_id  product_id   sale_date  quantity
0               1            1        2012  01/03/2024        86
1               2            2        2002  14/06/2024        88
2               3            3        2018  13/05/2024        59
3               4            4        2014  10/07/2024        60
4               5            5        2003  28/04/2024         2

In [19]:
# or use the shell command directly to save the json file locally in your machine
!curl ""  #fetch json data from Mock API using your link

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  0     0    0     0    0     0      0      0 --:--:--  0:00:01 --:--:--     0
  0     0    0     0    0     0      0      0 --:--:--  0:00:01 --:--:--     0
100 98601    0 98601    0     0  47587      0 --:--:--  0:00:02 --:--:-- 47587

## Transform phase

1. Cleaning data
2. User_defined rules

### Data Cleaning

In [23]:
# Customer Data

#nulls
customers.isna().sum()

CustomerID            0
Genre                 0
Age                   0
Annual_Income_(k$)    0
Spending_Score        0
dtype: int64

In [25]:
#duplicates
print(len(customers))
customers.drop_duplicates(inplace=True)
print(len(customers))

200
200

In [27]:
# products Data

#nulls
products_men.isna().sum()

url                               0
canonicalUrl                      0
probability                       0
name                              0
offers/0/price                    0
offers/0/currency                 1
offers/0/availability             4
offers/0/regularPrice           644
sku                               0
brand                           327
mainImage                         0
images/0                         82
images/1                        152
images/2                        234
images/3                        450
description                       0
descriptionHtml                   0
additionalProperty/0/name       754
additionalProperty/0/value      754
aggregateRating/ratingValue    2438
aggregateRating/bestRating     2439
aggregateRating/reviewCount      14
color                          1124
size                           2471
images/4                       1827
images/5                       2122
additionalProperty/1/name      2576
additionalProperty/1/value     2576
additionalProperty/2/name      2639
additionalProperty/2/value     2639
mpn                            2743
additionalProperty/3/name      2717
additionalProperty/3/value     2717
additionalProperty/4/name      2738
additionalProperty/4/value     2738
additionalProperty/5/name      2743
additionalProperty/5/value     2743
dtype: int64

In [29]:
#get important columns only
products_men = products_men[["url","name","offers/0/price","sku"]]

In [32]:
#rename columns
products_men.rename(columns={"offers/0/price":"price","sku":"product_id"},inplace=True)

C:\Users\RTX\anaconda3\lib\site-packages\pandas\core\frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [33]:
#nulls
products_women.isna().sum()

url                               0
canonicalUrl                      0
probability                       0
name                              0
offers/0/price                    0
offers/0/currency                 0
offers/0/availability             0
sku                               0
brand                           318
mainImage                         0
images/0                         99
images/1                        169
images/2                        273
images/3                        542
images/4                       1876
images/5                       2217
description                       0
descriptionHtml                   0
aggregateRating/ratingValue    1739
aggregateRating/bestRating     1747
aggregateRating/reviewCount       4
color                          1214
offers/0/regularPrice           766
additionalProperty/0/name      1175
additionalProperty/0/value     1175
images/6                       2703
additionalProperty/1/name      2678
additionalProperty/1/value     2678
additionalProperty/2/name      2704
additionalProperty/2/value     2704
additionalProperty/3/name      2707
additionalProperty/3/value     2707
size                           2500
images/7                       2708
images/8                       2708
images/9                       2708
breadcrumbs/0/name             2708
dtype: int64

In [34]:
#get important columns only
products_women = products_women[["url","name","offers/0/price","sku"]]

In [36]:
#rename columns
products_women.rename(columns={"offers/0/price":"price","sku":"product_id"},inplace=True)

In [37]:
#union the two dataframes
products = pd.concat([products_men, products_women], ignore_index=True)

In [38]:
# Sales Data

#nulls
sales.isna().sum()

transaction_id    0
customer_id       0
product_id        0
sale_date         0
quantity          0
dtype: int64

In [39]:
#duplicates
print(len(sales))
sales.drop_duplicates(inplace=True)
print(len(sales))

1000
1000

In [42]:
#making sure consistent naming convention

customers.columns = customers.columns.str.lower()
products.columns = products.columns.str.lower()
sales.columns = sales.columns.str.lower()

### User_defined rules

In [43]:
# Apply User-Defined Rules

#identify high value customer
customers["high_value_customer"] = customers["spending_score"] > 50

#identify high end products
products["high_value_product"] = products["price"] > 90

#identify high value sales
sales["high_value_sale"] = sales["quantity"] > 100

## Load Phase

In [ ]:
# MySQL connection
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="your_password",
    database="sales_db"
)
cursor = conn.cursor()

# Create table
cursor.execute("""
CREATE TABLE IF NOT EXISTS sales_data (
    TransactionID INT,
    CustomerID INT,
    ProductID INT,
    Quantity INT,
    SaleDate DATE,
    TotalSaleAmount FLOAT,
    HighValueSale BOOLEAN,
    Region VARCHAR(255),
    InvalidRegion BOOLEAN
)
""")

# Insert data
for _, row in sales.iterrows():
    cursor.execute("""
    INSERT INTO sales_data (TransactionID, CustomerID, ProductID, Quantity, SaleDate, TotalSaleAmount, HighValueSale, Region, InvalidRegion)
    VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)
    """, tuple(row))

#close cursor and connection
conn.commit()
cursor.close()
conn.close()